.wrapperHeader {
  position: relative;
  z-index: 1;
  svg {
    color: white;
  }
  button {
    background-color: transparent !important;
  }
  .menuItem {
    color: $secondary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}
