.wrapperHeader {
  position: relative;
  z-index: 1;
  svg {
    color: $secondary-color;
  }
  button {
    background-color: transparent !important;
  }
  .menuItem {
    @include link-style;
    &:after {
      bottom: -3px;
    }
  }
}
