// Define default Sass variables for a base theme
$base-font-size: 16px;
$primary-color: #0077b6;
$secondary-color: #fff;
$primary-font: 'Major Mono Display', monospace;
$secondary-font: 'Plus Jakarta Sans', sans-serif;
