@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: $primary-color;
//   --background-rgb: $primary-color;
//   --font-major-mono-display: 'Major Mono Display', monospace;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: $primary-color;
//     --background-rgb: $primary-color;
//   }
// }

@layer base {
  html {
    @apply scroll-smooth;
  }
}

body {
  color: $secondary-color;
  background: $primary-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $primary-font;
  font-size: 76px;
  line-height: 80px;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}
ul {
  li {
    color: $secondary-color;
  }
}
.react-fullpage__wrapper {
  top: -66px;
}

.section-1 {
  .container {
    h1 {
      margin-bottom: 30px;
    }

    .main-title {
      position: relative;

      .drop {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: $secondary-color;
        position: absolute;
        top: 50%;
        left: -4%;
        transform: translate($startPosX, $startPosY) scaleX(0.5);
        animation: move 6s cubic-bezier(1, 0.04, 0.74, 0.2) infinite;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    @keyframes move {
      0% {
        transform: translate($startPosX, $startPosY) scaleX(0.2);
        height: 60px;
      }
      30% {
        transform: translate($startPosX, -200%);
        height: 30px;
      }
      70% {
        transform: translate($startPosX, 100%);
        height: 30px;
      }
      100% {
        transform: translate($startPosX, 800%) scaleX(0.2);
        height: 60px;
      }
    }

    .profile-img {
      position: relative;
      top: -150px;
      width: 515px;
      height: 515px;
      @media (max-width: 768px) {
        top: auto;
        width: 315px;
        height: 315px;
      }
    }
  }
}

.section-2 {
  h3 {
    font-family: $primary-font;
    font-size: 76px;
    line-height: 80px;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  p.sub-heading,
  h2.sub-heading {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

.section-3 {
  h3 {
    font-family: $primary-font;
    font-size: 37px;
    margin-bottom: 0px;
  }
  p.sub-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .work-item {
    a {
      display: inline-block;
      position: relative;
      color: $secondary-color;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secondary-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        color: $secondary-color;
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

footer {
  h3 {
    font-family: $primary-font;
    font-size: 76px;
    margin-bottom: 5px;
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  p {
    margin-bottom: 20px;
    span {
      margin: auto 6px;
    }
    a {
      display: inline-block;
      position: relative;
      color: $secondary-color;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: $secondary-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        color: $secondary-color;
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  .wrapper-circle {
    position: relative;
    height: 300px;

    .base {
      width: $size * 2;
      height: $size * 2;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .circ {
      position: absolute;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 10px solid $secondary-color;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .base .circ {
      &:nth-child(1) {
        transform: translate($d, 0);
      }
      &:nth-child(2) {
        transform: translate(0, $d);
      }
      &:nth-child(3) {
        transform: translate($d * -1, 0);
      }
      &:nth-child(4) {
        transform: translate(0, $d * -1);
      }
      &:nth-child(5) {
        transform: translate($a, $a);
      }
      &:nth-child(6) {
        transform: translate($a, -$a);
      }
      &:nth-child(7) {
        transform: translate(-$a, $a);
      }
      &:nth-child(8) {
        transform: translate(-$a, -$a);
      }
    }
    .base:nth-child(2) {
      transform: rotate(0.1turn);
    }

    @for $i from 2 through 8 {
      .base:nth-child(#{$i}) {
        transform: rotate($i * 0.1turn);
        animation: turn-#{$i} 6s ease-in-out infinite alternate;
        animation-duration: 1.5s * $i;
        @keyframes turn-#{$i} {
          to {
            transform: rotate($i * (1 / 8) * 1urn);
          }
          from {
            transform: rotate(0);
          }
        }

        .circ {
          background: rgba(#000, 0.05);
        }
      }
    }
  }
}

input {
  color: black;
}
