@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: $primary-color;
//   --background-rgb: $primary-color;
//   --font-major-mono-display: 'Major Mono Display', monospace;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: $primary-color;
//     --background-rgb: $primary-color;
//   }
// }

body {
  color: $primary-color;
  background: $secondary-color;
}

h1 {
  font-family: $primary-font;
  font-size: 76px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  color: black;
}
