@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: $primary-color;
//   --background-rgb: $primary-color;
//   --font-major-mono-display: 'Major Mono Display', monospace;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: $primary-color;
//     --background-rgb: $primary-color;
//   }
// }

body {
  color: $secondary-color;
  background: $primary-color;
}

h1 {
  font-family: $primary-font;
  font-size: 76px;
  line-height: 80px;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}
ul {
  li {
    color: $secondary-color;
  }
}
.react-fullpage__wrapper {
  top: -66px;
}

.section-1 {
  .container {
    h1 {
      margin-bottom: 30px;
    }
  }
}

.section-2 {
  h3 {
    font-family: $primary-font;
    font-size: 76px;
    line-height: 80px;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  p.sub-heading,
  h2.sub-heading {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

input {
  color: black;
}
